


* {
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: right;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.photo {
  background-image: url('assets/ink.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  background-clip: border-box;
  transition: background-size 0.2s;
  transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

 
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  white-space:nowrap;
}




a {
  text-decoration: none !important;
}

.content {

  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.5em;

  font-family: 'Press Start 2P', cursive;

  padding-top: 20px;
  padding-left: 25px;
  padding-right: 20px;


}

.branding{

  height: 100%;

}

.title{
  height: 100%;

}



@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)
    {
 
      .content {
        font-size: 2.25em;
        padding-top: 30px;
        padding-left: 35px;
        padding-right: 30px;

      }
  


    }

